@use "mixins/mixins.scss" as *;

@include b("vl") {
  overflow-y: scroll;
  position: relative;
  border: 2px solid #e6e6e6;
  // height: 12.5rem;
  @include e("scroll-list") {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
